$main-color: #f0f0f0;
$accent-color: #004343;
$accent-color-light: #376e6e;
$accent-color-dark: #001d1c;
$font-color: #f0f0f0;
$header-background-color: #1b1b1b;
$header-background-light: #424242;

$background-color: #1e1e1e;

$default-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$article-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
