@media screen and (max-width: 800px) {
    .nav {
        .nav-btn-container {
            .nav-btn {
                .nav-btn-text {
                    p {
                        display: none;
                    }
                }
            }
        }
    }

    .main {
        .articles-section {
            .article-section {
                width: 100% !important;

                .article-content-container {
                    flex-direction: column !important;

                    .article-image {
                        height: 300px !important;
                        width: 100% !important;
                        padding: 30px 0 !important;
                        overflow: hidden;
                        display: flex;

                        img{
                            height: 100% !important;
                            margin: auto;
                        }
                    }

                    .article-preview-text {
                        padding: 30px 0 0 0 !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .nav {
        .nav-btn-container {
            display: none !important;
        }

        .nav-expand-btn {
            display: flex !important;
        }
    }

    .settings-cover {
    
        .settings-container {
            width: 100% !important;
            height: 100% !important;
            border-radius: 0 !important;
        }
    }
}

@media screen and (min-width: 500px) {
    .main {
        .articles-section {
            // padding-top: $header-height !important;
        }
    }
}