$main-font-family: Montserrat,
'Open Sans',
sans-serif;

$second-font-family: 'Roboto', 'Open Sans', sans-serif;

$header-height: 120px;
$header-top-height: 60px;

$intro-transition-properties: 300ms cubic-bezier(.44,.08,.13,1);
$outro-transition-properties: 300ms cubic-bezier(.42,.01,.53,1.01);
$header-transition-properties: 600ms ease-out;
$nav-transition-properties: 300ms ease-out;
$loading-transition-properties: 2s ease-in-out;