$main-color: #181818;
$accent-color: #004343;
$font-color: #f0f0f0;
$header-background-color: #000000d5;
$header-background-light: #424242d5;

$header-height: 80px;

$default-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

$intro-transition-properties: 300ms ease-out;