@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'variables';
@import 'responsive';
@import 'animations';

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $header-background-color; 
    box-sizing: border-box;
    box-shadow: $default-box-shadow;
    animation: drop-in $header-transition-properties;
    z-index: 100;

    .title-container{
        height: 100%;
        width: 250px;
        display: flex;

        .title{
            margin: auto;

            h1.title-text{
                font-size: 2rem;
                color: $font-color;
                font-family: $main-font-family;
            }
        }
    }

    .nav{
        height: 100%;
        width: auto;

        .nav-btn-container{
            height: 100%;
            display: flex;
            flex-direction: row;

            .nav-btn{
                display: flex;
                flex-direction: row;
                height: 100%;
                user-select: none;
                cursor: pointer;
                animation-fill-mode: forwards;
                transform: translateY(-100%);

                .nav-btn-text{
                    margin: auto 20px;
                    font-size: 1.1rem;
                    color: $font-color;
                    font-family: $main-font-family;
                    display: flex;
                    flex-direction: row;

                    p{
                        padding: 0 0 0 10px;
                    }

                    i{
                        font-size: 1.1rem;
                        padding: 2px 0 0 0;
                    }
                }
                

                &:hover{
                    background-color: $header-background-light;
                }

                &.home-btn{
                    animation: drop-in $nav-transition-properties 500ms forwards;
                }

                &.bookmark-btn{
                    animation: drop-in $nav-transition-properties 600ms forwards;
                }
                
                &.search-btn{
                    animation: drop-in $nav-transition-properties 700ms forwards;
                }
            }
        }
    }
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;

    .articles-section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding-top: $header-height;

        .article-section{
            margin: 20px;
            padding: 20px 20px 60px 20px;
            box-shadow: $default-box-shadow;
            display: flex;
            flex-direction: column;
            position: relative;
            overflow: hidden;
            animation: flow-in $intro-transition-properties;

            .article-title{
                font-size: 1.5rem;
                font-family: Roboto;
                font-weight: 100;
            }

            .article-image{

            }

            .article-preview-text{
                font-family: Roboto;
                margin: 10px 0;
            }

            .article-author{
                position: absolute;
                left: 20px;
                bottom: 20px;
                font-family: Roboto;

                .article-author-name{

                }

                .article-author-image{

                }
            }

            .article-page{
                position: absolute;
                right: 20px;
                bottom: 20px;
                font-family: Roboto;

                .article-page-name{

                }

                .article-page-image{

                }
            }
        }
    }
}

.loading-container{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: $default-box-shadow;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    text-align: center;
    transition: transform $header-transition-properties;

    .loading-message{
        font-family: $main-font-family;
        font-size: 1.1rem;
    }

    .loading-animation-container{
        width: 100%;
        height: 20px;
        display: flex;

        .loading-animation{
            margin: auto 0;
            width: 50px;
            height: 100%;
            animation: loading-animation $loading-transition-properties infinite;
            background-color: #004343;
        }
    }

    &.hidden{
        transform: scale(0);
    }
}