@import url("https://fonts.googleapis.com/css?family=Montserrat");
@media screen and (max-width: 800px) {
  .nav .nav-btn-container .nav-btn .nav-btn-text p {
    display: none;
  }
  .main .articles-section .article-section {
    width: 100% !important;
  }
  .main .articles-section .article-section .article-content-container {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .main .articles-section .article-section .article-content-container .article-image {
    height: 300px !important;
    width: 100% !important;
    padding: 30px 0 !important;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .articles-section .article-section .article-content-container .article-image img {
    height: 100% !important;
    margin: auto;
  }
  .main .articles-section .article-section .article-content-container .article-preview-text {
    padding: 30px 0 0 0 !important;
  }
}

@media screen and (max-width: 500px) {
  .nav .nav-btn-container {
    display: none !important;
  }
  .nav .nav-expand-btn {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media screen and (min-width: 500px) {
  .main .articles-section {
    padding-top: 60px !important;
  }
}

@-webkit-keyframes flow-in {
  0% {
    -webkit-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes flow-in {
  0% {
    -webkit-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes flow-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
    opacity: 0;
  }
}

@keyframes flow-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9, 0.8);
            transform: scale(0.9, 0.8);
    opacity: 0;
  }
}

@-webkit-keyframes float-in {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes float-in {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes float-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
}

@keyframes float-out {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
}

@-webkit-keyframes drop-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes drop-in {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  50% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes loading-animation {
  0% {
    height: 0%;
    -webkit-transform: translateX(0) scale(1, 1);
            transform: translateX(0) scale(1, 1);
    opacity: 0;
  }
  25% {
    height: 100%;
    opacity: 1;
  }
  50% {
    height: 0%;
    -webkit-transform: translateX(300%) scale(1, 1);
            transform: translateX(300%) scale(1, 1);
    opacity: 0;
  }
  75% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0%;
    -webkit-transform: translateX(0) scale(1, 1);
            transform: translateX(0) scale(1, 1);
    opacity: 0;
  }
}

@keyframes loading-animation {
  0% {
    height: 0%;
    -webkit-transform: translateX(0) scale(1, 1);
            transform: translateX(0) scale(1, 1);
    opacity: 0;
  }
  25% {
    height: 100%;
    opacity: 1;
  }
  50% {
    height: 0%;
    -webkit-transform: translateX(300%) scale(1, 1);
            transform: translateX(300%) scale(1, 1);
    opacity: 0;
  }
  75% {
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0%;
    -webkit-transform: translateX(0) scale(1, 1);
            transform: translateX(0) scale(1, 1);
    opacity: 0;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1b1b1b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-animation: drop-in 600ms ease-out;
          animation: drop-in 600ms ease-out;
  z-index: 100;
  -webkit-transition: top 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
  transition: top 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
}

.header .title-container {
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .title-container .title {
  margin: auto;
}

.header .title-container .title h1.title-text {
  font-size: 2rem;
  color: #f0f0f0;
  font-family: Montserrat, "Open Sans", sans-serif;
}

.header .nav {
  height: 100%;
  width: auto;
  z-index: 30;
}

.header .nav .nav-btn-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .nav-btn-container .nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-animation: drop-in 300ms ease-out;
          animation: drop-in 300ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.header .nav .nav-btn-container .nav-btn .nav-btn-text {
  margin: auto 20px;
  font-size: 1.1rem;
  color: #f0f0f0;
  font-family: Montserrat, "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .nav .nav-btn-container .nav-btn .nav-btn-text p {
  padding: 0 0 0 10px;
}

.header .nav .nav-btn-container .nav-btn .nav-btn-text i {
  font-size: 1.1rem;
  padding: 2px 0 0 0;
}

.header .nav .nav-btn-container .nav-btn:hover {
  background-color: #424242;
}

@media screen and (max-width: 500px) {
  .header .nav .nav-btn-container.open {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #1b1b1b;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    height: 100%;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -webkit-animation: float-in 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
            animation: float-in 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
    z-index: 20;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .header .nav .nav-btn-container.open .nav-btn {
    -webkit-animation: none;
            animation: none;
    -webkit-transform: none;
            transform: none;
  }
  .header .nav .nav-btn-container.open .nav-btn .nav-btn-text p {
    display: inline;
  }
  .header .nav .nav-btn-container.closing {
    -webkit-animation: float-out 300ms cubic-bezier(0.42, 0.01, 0.53, 1.01);
            animation: float-out 300ms cubic-bezier(0.42, 0.01, 0.53, 1.01);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}

.header .nav .nav-expand-btn {
  width: 60px;
  height: 100%;
  display: none;
  margin: 0 10px 0 0;
}

.header .nav .nav-expand-btn #nav-expand-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  height: 60%;
  margin: auto;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.header .nav .nav-expand-btn #nav-expand-icon.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .nav .nav-expand-btn #nav-expand-icon span {
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 9px;
  opacity: 1;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.header .nav .nav-expand-btn #nav-expand-icon span:nth-child(2) {
  position: absolute;
  margin: auto;
}

.header .nav .nav-expand-btn #nav-expand-icon span:nth-child(3) {
  position: absolute;
  margin: auto;
}

.header .nav .nav-expand-btn #nav-expand-icon.open span:nth-child(1),
.header .nav .nav-expand-btn #nav-expand-icon.open span:nth-child(4) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header .nav .nav-expand-btn #nav-expand-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .nav .nav-expand-btn #nav-expand-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header.nav-up {
  top: calc(-60px * 2 - 30px);
}

.header.nav-down {
  top: 0;
}

.main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.main .articles-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding-top: 60px;
  -webkit-transition: padding 300ms ease-out;
  transition: padding 300ms ease-out;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .articles-section .article-section {
  width: 500px;
  margin: 20px 0;
  padding: 20px 20px 60px 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  -webkit-animation: flow-in 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
          animation: flow-in 300ms cubic-bezier(0.44, 0.08, 0.13, 1);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.main .articles-section .article-section a {
  text-decoration: none;
  color: #181818;
}

.main .articles-section .article-section .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .articles-section .article-section .article-container .article-title {
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 100;
}

.main .articles-section .article-section .article-container .article-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .articles-section .article-section .article-container .article-content-container .article-preview-text {
  font-family: Roboto;
  padding: 30px 0 0 0;
}

.main .articles-section .article-section .article-container .article-content-container .article-image {
  height: 200px;
  width: 200px;
  padding: 30px 20px 0 0;
}

.main .articles-section .article-section .article-page {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: Roboto;
}

.main .articles-section .article-section:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.loading-cover .loading-container {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  -webkit-transition: -webkit-transform 600ms ease-out;
  transition: -webkit-transform 600ms ease-out;
  transition: transform 600ms ease-out;
  transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
}

.loading-cover .loading-container .loading-message {
  font-family: Montserrat, "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.loading-cover .loading-container .loading-animation-container {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-cover .loading-container .loading-animation-container .loading-animation {
  margin: auto 0;
  width: 50px;
  height: 100%;
  -webkit-animation: loading-animation 2s ease-in-out infinite;
          animation: loading-animation 2s ease-in-out infinite;
  background-color: #004343;
}

.loading-cover .loading-container.hidden {
  -webkit-animation: flow-out 300ms cubic-bezier(0.42, 0.01, 0.53, 1.01);
          animation: flow-out 300ms cubic-bezier(0.42, 0.01, 0.53, 1.01);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
/*# sourceMappingURL=main.css.map */